

	<!-- properties details -->
	<div class="properties-details segments-page">
		<div class="container">
			<div class="content-image">
				<img src="images/property-details.jpg" alt="">
			</div>
			<div class="content-desc">				
				<h4>Home With Traditional Style</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus maiores, sit ratione veritatis voluptatum. Aut officia quos molestiae sint qui.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem ullam aperiam et cum deleniti voluptate distinctio magni commodi, tempora, id itaque odit obcaecati nisi iusto tempore fugit.</p>
			</div>
			<div class="content-features features">
				<div class="wrap-title">
					<h5>Features</h5>
				</div>
				<div class="row">
					<div class="col s4">
						<div class="content">
							<i class="fas fa-tv"></i>
							<h6>TV LED</h6>
						</div>
					</div>
					<div class="col s4">
						<div class="content">
							<i class="fas fa-swimming-pool"></i>
							<h6>Pool</h6>
						</div>
					</div>
					<div class="col s4">
						<div class="content">
							<i class="fas fa-utensils"></i>
							<h6>Resto</h6>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s4">
						<div class="content">
							<i class="fas fa-wifi"></i>
							<h6>Wifi</h6>
						</div>
					</div>
					<div class="col s4">
						<div class="content">
							<i class="fas fa-leaf"></i>
							<h6>Garden</h6>
						</div>
					</div>
					<div class="col s4">
						<div class="content">
							<i class="fas fa-taxi"></i>
							<h6>Taxi</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="content-gallery">
				<div class="wrap-title">
					<h5>Gallery</h5>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="content">
							<a href="images/gallery1.jpg" data-lightbox="gallery-image"><img src="images/gallery1.jpg" alt=""></a>
						</div>
					</div>
					<div class="col s6">
						<div class="content">
							<a href="images/gallery2.jpg" data-lightbox="gallery-image"><img src="images/gallery2.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="content">
							<a href="images/gallery3.jpg" data-lightbox="gallery-image"><img src="images/gallery3.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s8">
						<div class="content">
							<a href="images/gallery4.jpg" data-lightbox="gallery-image"><img src="images/gallery4.jpg" alt=""></a>
						</div>
					</div>
					<div class="col s4">
						<div class="content">
							<a href="images/gallery5.jpg" data-lightbox="gallery-image"><img src="images/gallery5.jpg" alt=""></a>
						</div>
						<div class="content plus-mt">
							<a href="images/gallery6.jpg" data-lightbox="gallery-image"><img src="images/gallery6.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="content-agent">
				<div class="wrap-title">
					<h5>Contact Agent</h5>
				</div>
				<div class="row">
					<div class="col s4">
						<div class="image">
							<img src="images/agent1.jpg" alt="">
						</div>
					</div>
					<div class="col s8">
						<div class="text">
							<h4>Jervis Smith</h4>
							<span>Developer</span>
							<div class="wrap-social">
								<ul>
									<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href=""><i class="fab fa-instagram"></i></a></li>
									<li><a href=""><i class="fab fa-google"></i></a></li>
									<li><a href=""><i class="fab fa-twitter"></i></a></li>
								</ul>
							</div>
							<div class="link-more">
								<a href="agent-details.html">VIEW MORE <i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<form>
					<input type="text" placeholder="Name">
					<input type="email" placeholder="Email">
					<textarea cols="30" rows="10" placeholder="Message"></textarea>
					<button class="button"><i class="fab fa-telegram-plane"></i>SEND MESSAGE</button>
				</form>
			</div>
		</div>
	</div>
	<!-- end properties details -->